<nav>
    <ul>
        <!--        <li><a href="">Домашняя страница</a></li>-->
        <li><a href="/sports">Список спортсменов</a>
            <a class="add_any" href="/add-emp">Добавить спортсмена</a>
        </li>
        <li><a href="/treners">Список тренеров</a>
            <a class="add_any" href="/add-treners">Добавить тренера</a>
        </li>
        <li><a href="/comps">Список соревнований</a>
            <a class="add_any" href="/add-comps">Добавить соревнование</a>
        </li>
        <!--        <li><a href="">Список тренеров</a></li>-->
        <!--        <li><a href="">Список видов спорта</a></li>-->
        <!--        <li><a href="">Список спортивных сооружений</a></li>-->
        <!--        <li><a href="">Список клубов</a></li>-->
        <!--        <li><a href="">Список спортсменов</a></li>-->
        <!--        <li><a href="">Добавить элемент</a></li>-->
    </ul>
</nav>