<nav>
    <ul>
        <li><a href="/">Домашняя страница</a></li>
        <li><a href="/sports">Список спортсменов</a>
        </li>
        <li><a href="/builds">Список сооружений и соревнований</a></li>
        <li><a  href="/add-emp">Добавить данные</a>
    </ul>
</nav>