<nav>
    <ul>
        <li><a href="/">Домашняя страница</a></li>
        <li><a href="/sports">Список спортсменов</a>
            <a class="add_any" href="/add-emp">Добавить спортсмена</a>
        </li>

        <li><a href="/comps">Список соревнований</a>
            <a class="add_any" href="/add-comps">Добавить соревнование</a>
        </li>

    </ul>
</nav>