<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head.ejs') %>
<body>
<%- include('./partials/nav.ejs') %>
<div class="container">
    <div class="wrap-contant">
        <h1><%= title %></h1>
        <p>Welcome to <%= title %></p>
    </div>
</div>
</body>
</html>
